@CHARSET "UTF-8";

html{height:100%; font-family: 'Nanum Gothic', sans-serif;}
body{height:100%; margin : 0;}
a{text-decoration : none; color:#222;}
ol, ul{margin: 0; padding: 0;}
ol, ul, li {list-style: none;}
input{line-height: 32px;}
h1, h2, h3, h4, h5, h6{margin: 0 0 16px;}

/* skip */
.skip {position:absolute; left:0; top:0; width:100%; z-index:999999;}
.skip a{display:block; text-align:center; width: 100%; height:0; font-size:0; font-weight:bold; line-height:18px; color:#333; text-align:center; background:#fff;}
.skip a:focus, .skip a:hover, .skip a:active {display:block; height:20px; font-size:12px;}
/* skip end */

/* wrap */
.wrap{margin: 0 auto; max-width: 960px;}
/* wrap end */

/* header */
header .wrap {border-bottom: 2px solid #222;}

.title{width : 100%; padding : 40px 0;}
.title a{
	display: block;
    min-height: 90px;
    width: 100%;
	text-align: center;
}
/* header end */

/* nav */
nav .wrap{ border-bottom: 1px solid #222; }
.menu{
	clear: both;
    color: #222;
    font-weight: 400;
	font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
	touch-action: pan-y;
}
.menu-item{
	display: inline-block;
    text-align: left;
}

.menu-item a{
	color: #222;
	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out;
}

.menu-item a:focus,
.menu-item a:hover, 
.menu .current-menu > a{
	color: #e8554e;
}

.menu-item:first-child{ clear: both; margin-left: 0; }
.menu-item:first-child > a{ padding-left: 0; }
.menu-item > a {
    color: #222;
    display: block;
    padding: 25px 20px;
    position: relative;
}

/* drop down */
.menu-item ul{
	position: absolute;
	background: #fff;
	display: none;
	height: auto;
	margin: 0px;
	width: 190px;
}

.menu-item:hover ul{
	display: block !important;
	z-index: 99999
}

.sub-menu-item{
	border: 1px solid #222;
    border-top: none;
}
.sub-menu-item > a {
	border: none;
    color: #222;
    display: block;
    padding: 20px 20px;
    position: relative;
}
/* drop down end */

.menu:after{content:" "; display:block; clear: both;}

/* nav end */

/* search box */
.menu .right{
	float: right;
    max-width: 350px;
	padding: 10px 0 10px;
}
.menu .right div{
	display: inline-block;
}
.menu .right .input-box{
	min-width: 220px;
	border: 1px solid #BCCDF0;
	margin-right: 10px;
}
.menu .right .btn-box > button{
	border-radius: 3px;
	border: solid 1px #666666;
	padding: 6px 27px;
    width: auto;
    vertical-align: middle;
    background-color: #CECECE;
}
.menu .right input{
	width: 100%;
	height: 40px;
    border: none;
	padding: 0px;
    margin: 0px;
    text-indent: 10px;
    outline: none;
}
/* search box end */

/* main */
.main{
	margin: 0 auto;
	max-width:960px;
	margin-top: 40px;
}
.container{
	float:left;
	width:630px;
}

.widget-title{
	clear:both;
	background-color: #222;
    color: #fff;
    padding: 8px;
	margin-bottom:24px;
	font-size:16px;
	font-weight:500;
	text-transform: uppercase;
}
/* main end */

/* aside */
.recommended{
	float: right;
	width: 300px;
}
/* aside end */

/* article */
.article{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.article:after{content:" "; display:block; clear: both;}

.article a{ 
	position: relative;
	font-weight: 500;
}

.thumb-link{ 
	float: left;
	margin: 0 24px 24px 0;
}
.thumb-link a:after{content:" "; display:block; clear: both;}

.article .time{
	position: absolute;
    bottom: 24px;
	right: 0;
	padding: 5px 10px;
	background-color: #e8554e;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.article .article-header{display: block}
.article .article-title{ 
	display: block; 
	font-size: 24px;
	line-height: 1.2;
	padding:
}

.articel-header a{
	color: #222;
	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out;
}

.articel-header a:focus,
.articel-header a:hover{
	color: #e8554e;
}

.article-meta{ font-weight: 300; }
.article-content{line-height: 1.625;}

.show-more{
	clear: both;
	display:block;
	background-color: #eee;
	margin-top:20px;
	padding: 8px 10px;
	text-align: center;
	font-size: 14px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.show-more:focus,
.show-more:hover{
	background-color: #e8554e;
	color: #fff;
}
/* article end */