@charset "UTF-8";

/* article */
.article{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.article:after{content:" "; display:block; clear: both;}

.article a{ 
	position: relative;
	font-weight: 500;
}

.thumb-link{ 
	float: left;
	margin: 0 24px 24px 0;
}
.thumb-link:after{content:" "; display:block; clear: both;}

.article .time{
	position: absolute;
    bottom: 24px;
	right: 0;
	padding: 5px 10px;
	background-color: #e8554e;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.article .article-header{ display: block; }
.article .article-title{ 
	display: block; 
	font-size: 24px;
	line-height: 1.2;
}

.article-header a{
	color: #222;
	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out;
}

.article-header a:focus,
.article-header a:hover{
	color: #e8554e;
}

.article-meta{ font-weight: 300; }
.article-content{line-height: 1.625;}

.show-more{
	clear: both;
	display:block;
	background-color: #eee;
	margin-top:20px;
	padding: 8px 10px;
	text-align: center;
	font-size: 14px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.show-more:focus,
.show-more:hover{
	background-color: #e8554e;
	color: #fff;
}
/* article end */

/* pagination start */
.pagination { float: left; margin:40px 0; }
.pagination:after{content:" "; display:block; clear: both;}
.pagination a{
	background-color: #222;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
	font-size: 14px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.pagination a:focus,
.pagination a:hover{
	background-color: #e8554e;
	color: #fff;
}
/* pagination end */